/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    HTML
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    ROOT
*/
:root {
    --header-main-color: #0084FD;
    --my-col-main-section-1-color: #B5DDFF;
    --main-footer-top-main-color: #9792E4;
}

/* 
    GENERAL
*/
.bg-main {
    background-color: var(--header-main-color);
}

.bg-main-light {
    background-color: var(--my-col-main-section-1-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-col-100 {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

/* 
    HEADER
*/
header {
    color: white;
}

.main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.main-nav-container nav {
    display: none;
}

.main-nav-container nav ul {
    list-style: none;
}

.main-nav-container nav ul li {
    display: inline-block;
    padding-left: 12px;
}

.main-nav-container nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.main-nav-container nav ul li:last-child a {
    color: black;
    padding: 6px;
    background-color: white;
    border-radius: 16px;
}

.hamburger-container i {
    font-size: 2.8em;
}

/* 
    MAIN
*/
main > section {
    padding: 40px 0;
}

/* 
    FIRST SECTION
*/
#first-section .my-col-100 {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

#first-section .first-container, #first-section .second-container {
    padding: 0 20px;
    width: 100%;
}

#first-section div {
    text-align: center;
}

#first-section h2 {
    color: var(--header-main-color);
    margin: 24px 0;
}

#first-section p {
    line-height: 28px;
    margin-bottom: 24px;
}

#first-section i {
    margin-bottom: 24px;
}

#first-section img {
    width: 100%;
}

/* 
    THIRD SECTION
*/
#third-section .my-col-100 {
    margin-bottom: 24px;
}

/* 
    MEDIA QUERY
*/
/* 
    TABLET
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .my-col-100 {
        width: calc((100% / 3) - 20px);
    }

    .my-col-big {
        width: calc(((100% / 3) * 2) - 20px);
    }

    #first-section div {
        text-align: left;
    }

    #first-section .second-container {
        width: 50%;
    }

    #second-section .my-col-100 {
        width: calc(100% - 20px);
    }

    #third-section .my-col-100 {
        width: calc(100% - 20px);
    }

    #third-section .with-img {
        display: flex;
    }

    #third-section .thirty-percent {
        width: 30%;
    }

    #third-section .seventy-percent {
        width: 70%;
    }

    #fourth-section .my-row .with-title {
        width: 100%;
    }

    #fourth-section .my-col-100 {
        width: calc(50% - 20px);
    }

    #fifth-section .my-col-100 {
        width: calc(50% - 20px);
    }

    #sixth-section .my-row {
        justify-content: center;
    }

    #sixth-section .my-col-100 {
        width: calc(55% - 20px);
    }

    #sixth-section * {
        text-align: center;
    }

    footer .my-row {
        justify-content: center;
    }

    footer .my-col-100 {
        width: calc(55% - 20px);
    }

    footer * {
        text-align: center;
    }
}

/* 
    DESKTOP
*/
@media screen and (min-width: 992px) {
    .main-nav-container nav {
        display: block;
    }

    .main-nav-container .hamburger-container {
        display: none;
    }

    .my-col-100 {
        width: calc((100% / 3) - 20px);
    }

    .my-col-big {
        width: calc(((100% / 3) * 2) - 20px);
    }

    #first-section .first-container, #first-section .second-container {
        width: 50%;
    }

    #second-section .my-row {
        justify-content: center;
    }

    #second-section .my-col-100 {
        width: calc(30% - 20px);
    }

    #fourth-section .my-row .with-title {
        width: 100%;
    }

    #fourth-section .my-col-100 {
        width: calc((100% / 3) - 20px);
    }

    #fifth-section .my-col-100 {
        width: calc(50% - 20px);
    }

    #sixth-section .my-row {
        justify-content: center;
    }

    #sixth-section .my-col-100 {
        width: calc(55% - 20px);
    }

    #sixth-section * {
        text-align: center;
    }

    footer .my-row {
        justify-content: center;
    }

    footer .my-col-100 {
        width: calc(55% - 20px);
    }

    footer * {
        text-align: center;
    }
}